@font-face {
	font-family: 'Open Sans';
	src: url(/fonts/OpenSans-CondLight.ttf);
	font-weight: normal;
	font-style: normal;
}
a {
	text-decoration: none;
}
body {
	margin: 0;
	padding-bottom: 0px;
	padding: 0; 
	padding-top: 0px; 
}
button {
	position: relative;
	margin: 0px;
	vertical-align: middle;
	cursor: pointer;
	height: 74px;
}
i{
	vertical-align: middle;
}
td{
	//background: #ccc;
	text-align: center;
	vertical-align: top;
}
#withNds{
	font-size: 18pt;
	margin-bottom: 15px;
}
#withOutNds{
	font-size: 18pt;
	margin-bottom: 15px;
}
.header{
	display: block;
	position: relative;
	width: 100%;
	min-width: 500px;
	max-width: 950px;
	margin: 0 auto 20px;
	padding: 0px;
	vertical-align: top;
	//border: 1px solid #f00;
}
.wrapper {
	display: block;
	position: relative;
	width: 75%;
	max-width: 950px;
	min-width: 665px;
	padding: 10px  10px 20px;
	margin: auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
	//border: 1px solid green;
}

.rollover{
	display: block;
	position: absolute;
	z-index:150;
	top: -35px;
	right: 20px;
	-webkit-transition: top 0.2s ease-in-out;
	-moz-transition: top 0.2s ease-in-out;
	-o-transition: top 0.2s ease-in-out;
	-ms-transition: top 0.2s ease-in-out;
	transition: top 0.2s ease-in-out;
}
.rollover:hover{
	display: block;
	position: absolute;
	z-index:150;
	top: -17px;
	right: 20px;
	color: #111;
	cursor: pointer;
	-webkit-transition: top 0.2s ease-in-out;
	-moz-transition: top 0.2s ease-in-out;
	-o-transition: top 0.2s ease-in-out;
	-ms-transition: top 0.2s ease-in-out;
	transition: top 0.2s ease-in-out;

	//border: 1px solid;
}

.favorite {
	display: inline-block;
	vertical-align: bottom;
	color: #fff;
	font-family: 'Open Sans';
	font-weight: 100;
	font-size: 10pt;
	-webkit-transition:  0.2s ease-in-out;
	-moz-transition:  0.2s ease-in-out;
	-o-transition:  0.2s ease-in-out;
	-ms-transition:  0.2s ease-in-out;
	transition:  0.2s ease-in-out;
}
.rollover:hover .favorite {
	display: inline-block;
	vertical-align: bottom;
	color: #333;
	font-family: 'Open Sans';
	font-weight: 100;
	font-size: 12pt;
	-webkit-transition:  0.2s ease-in-out;
	-moz-transition:  0.2s ease-in-out;
	-o-transition:  0.2s ease-in-out;
	-ms-transition:  0.2s ease-in-out;
	transition:  0.2s ease-in-out;
	cursor: pointer;
}
.title {
	height: 50px;
	margin-top: 7px; 
	vertical-align: top;
	display: inline-block;
	line-height: 1.25em;
	
	-webkit-font-smoothing: subpixel-antialiased !important;
	//border: 1px solid #ddd;
}
.site__title{
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 18pt;
	color: #333;
}
.site__description{
	font-family: 'Open Sans';
	font-weight: 100;
	font-size: 12pt;
	color: #333;
}

.logo {
	display: inline-block;
	margin: 0px;
	height: 50px;
	//border: 1px solid #0f0;
	
}

.input__container {
	display: inline-block;
	position: relative;
	//border: 1px solid green;
}

.frac__popup{
	display: block;
	position: absolute;
	width: 100%;
	height: 75px;
	top: -75px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.75);
	font-family: 'Open Sans';
	font-weight: 100;
	font-size: 12pt;
	color: #333;
	border: 1px solid green;
}
.frac__arrow{
	display: block;
	position: absolute;
	box-sizing: border-box;
	bottom: -40px;
	left: 50%;
	width: 0px;
	height: 0px;
	border: 40px solid transparent; 
	border-top-color: white;  
	border-bottom: 0;
	text-shadow: 1px 1px 2px black, 0 0 1em red;
}


.left__cell{
	width: 85%;
}
.output{
	width: 100%;
	height: 68px;
	resize: none;
	white-space: wrap;
	overflow: auto;
	font: 12pt sans-serif;
}
.copybutton{
	color: #000;
	width: 100%;
	-webkit-transition:  0.1s ease-in-out;
	-moz-transition:  0.1s ease-in-out;
	-o-transition:  0.1s ease-in-out;
	-ms-transition:  0.1s ease-in-out;
	transition:  0.1s ease-in-out;
}
.zeroclipboard-is-active{
	color: #dfd;
}
.vk_feedback{
	display: block;
	margin: 10px auto;
	vertical-align: middle;
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 100;
	font-size: 12pt;
	color: #333;
	//border: 1px solid red;
}.vk_like{
	display: block;
	margin: 20px auto;
	text-align: center;

	//border: 1px solid red;
}
.vk_comments{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 60px;
}
.footer {
	position: relative;
	height: 40px;

	bottom: 0;
	padding: 5px 10px;
	background: #333;
	//border: 1px solid red;
	vertical-align: middle;
	text-align: center;
}
.footer__text {
	display: inline;
	line-height: 25px;
	vertical-align: top;
	color: #eee;
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 12pt;
	//border: 1px solid red;
}


#withNds__popup{
	position:absolute;
	width: 250px;
	height: 75px;
	top: -60px;
	left: 25%;
	padding: 3px;
	background: #eee;
	border-radius: 2px;
	border: 1px solid #777;
	box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.2);
	color: #333;
	font-family: 'Open Sans';
	text-align:left;
	z-index: 10;
}

#withNds__popup:before {
	content:'';
	position: inherit;
	bottom: -12px;
	left: 25px;
	width: 20px;
	height: 20px;
	-webkit-transform: rotate(45deg) ;
	-moz-transform: rotate(45deg) ;
	-ms-transform: rotate(45deg) ;
	-o-transform: rotate(45deg) ;
	background: #eee;
	z-index: 1;
	border-radius: 2px;
	border-right: 1px solid #777;
	border-bottom: 1px solid #777;
	box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.1);
}
.popup__frac {
	display: block;
	width: 100%;
	text-align: center;
	color: red;
	cursor: pointer;
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 18pt;
}
#withOutNds__popup{
	position:absolute;
	width: 250px;
	height: 75px;
	top: -60px;
	left: 25%;
	padding: 5px;
	background: #eee;
	border-radius: 2px;
	border: 1px solid #777;
	box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.2);
	color: #333;
	font-family: 'Open Sans';
	text-align:left;
	z-index: 10;
}

#withOutNds__popup:before {
	content:'';
	position: inherit;
	bottom: -12px;
	left: 25px;
	width: 20px;
	height: 20px;
	-webkit-transform: rotate(45deg) ;
	-moz-transform: rotate(45deg) ;
	-ms-transform: rotate(45deg) ;
	-o-transform: rotate(45deg) ;
	background: #eee;
	z-index: 1;
	border-radius: 2px;
	border-right: 1px solid #777;
	border-bottom: 1px solid #777;
	box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.1);
}

.is__block {
	display: block;
}

.is__none {
	display: none;
}